@model IEnumerable<Pokemon>

    <h1>All Pokemon</h1>

    <div style="display: block">
        <a href="/Pokemon/AddPokemon/">Add New Pokemon</a>
    </div>


    <table class="table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Abilities</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Special Attack</th>
            <th>Special Defense</th>
            <th>Speed</th>
            <th>Generation</th>
            <th>Legendary</th>
        </tr>

    @foreach (var pokemon in @Model)
    {
        <tr>
            <td><a href=/Pokemon/Details/@pokemon.PokemonID>@pokemon.PokemonID</a></td>
            <td>@pokemon.Name</td>
            <td>@pokemon.Type</td>
            <td>@pokemon.Abilities</td>
            <td>@pokemon.HP</td>
            <td>@pokemon.Attack</td>
            <td>@pokemon.Defense</td>
            <td>@pokemon.SpecialAttack</td>
            <td>@pokemon.SpecialDefense</td>
            <td>@pokemon.Speed</td>
            <td>@pokemon.Generation</td>
            <td>@pokemon.Legendary</td>

        </tr>
    }
</table>