@model Pokemon

<h1>Edit @Model.Name</h1>

@using (Html.BeginForm("UpdatePokemonToDatabase", "Pokemon", "Post"))
{
    <input asp-for="PokemonID" type="hidden" value="@Model.PokemonID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="Type" class="control-label">Type</label>
    <input type="text" name="Type" class="form-control" value="@Model.Type" />

    <label asp-for="Abilities" class="control-label">Abilities</label>
    <input type="text" name="Abilities" class="form-control" value="@Model.Abilities" />

    <label asp-for="HP" class="control-label">HP</label>
    <input type="number" step="1" name="HP" class="form-control" value="@Model.HP" />

    <label asp-for="Attack" class="control-label">Attack</label>
    <input type="number" step="1" name="Attack" class="form-control" value="@Model.Attack" />

    <label asp-for="Defense" class="control-label">Defense</label>
    <input type="number" step="1" name="Defense" class="form-control" value="@Model.Defense" />

    <label asp-for="SpecialAttack" class="control-label">Special Attack</label>
    <input type="number" step="1" name="SpecialAttack" class="form-control" value="@Model.SpecialAttack" />

    <label asp-for="SpecialDefense" class="control-label">Special Defense</label>
    <input type="number" step="1" name="SpecialDefense" class="form-control" value="@Model.SpecialDefense" />

    <label asp-for="Speed" class="control-label">Speed</label>
    <input type="number" step="1" name="Speed" class="form-control" value="@Model.Speed" />

    <label asp-for="Generation" class="control-label">Generation</label>
    <input type="number" step="1" name="Generation" class="form-control" value="@Model.Generation" />

    <label asp-for="ImageURL" class="control-label">Image URL</label>
    <input type="text" name="ImageURL" class="form-control" value="@Model.ImageURL" />

    <input type="submit" value="Update Pokemon" class="btn btn-primary" />
}